/*-------------------*\
-- BANNER
\*-------------------*/
.banner {
  height: 25rem;
  max-width: $container-main-width;
  margin: 0 auto;
  background-image: url(../images/banner.png);
  background-size: cover;
  position: relative;
}