/*-------------------*\
-- ICONS
\*-------------------*/
.hover {
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    position: relative;

    transition: all .2s;
  }

  &:hover {
    transform: translateY(-.3rem);
    
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-.1rem);
  }

}