/*-------------------*\
-- VARIABLES
\*-------------------*/

// COLORS
$color-primary: #1f3f68;
$color-primary-light-1: #356ead;
$color-primary-light-2: #5A98D0;
$color-primary-light-3: #316099;

$color-grey-light-1: rgba(0,0,0, 0.6);
$color-grey-light-2: rgba(0,0,0, 0.4);
$color-grey-light-3: rgba(0,0,0, 0.2);

$color-grey-dark: #777;
$color-white: #fff;
$color-light: #f4f4f4;
$color-black: #000;

// CONTAINER
$container-main-width: 114rem;
$container-sub-width: 94rem;